shamefully-hoist =false
store-dir=/pnpm/store
virtual-store-dir=.pnpm
# global-dir=/pnpm/global
# global-bin-dir=/pnpm/bin
# state-dir=/pnpm/state
# cache-dir=/pnpm/cache

# prefix=/node_data/node_global
# cache=/node_data/node_cache
registry=https://registry.npmmirror.com
proxy=http://192.168.1.12:4433

enable-pre-post-scripts=true
